body{
    color: #333a40;
     background-color: #fafafa;
     font-family: 'Raleway' , sans-serif;
     width: 100%;
     height: auto;
   
     
 }
 
 
 .navigation-bar{
     width: 100%;
     height: 8%;
     margin-top: 0%;
    
 }
 
 
 .navigation{
     width: 100%;
 
 }
 .navigation-options{
     width: 100%;
 }
 
 .nav-home{
     color: rgb(102, 102, 163);
     font-weight: bold;
     font-size: 1.5rem;
     margin-right: 60%;
 }
 
 
 
 
 a{
     color: rgb(97, 97, 97);
     font-weight: lighter;
     font-size: 1.5em;
     text-decoration: none;
 }
 
 a:hover{
     color: rgb(102, 102, 163);
 
 }


.page-wrapper{
    width: 80%;
    height: 100%;
    margin: auto;

}

.email{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}