html{
    scroll-behavior: smooth;

}


body{
    color: #314C55;
     background-color: #ffffff;
     font-family: 'Lato', sans-serif;
     width: 100%;
     height: auto;
     margin: 0%;
 }


 nav {
    width: 100%;
    height: 80px;
    background: #314C55;
    border-bottom: 1px solid #314c5577;
    
    position: fixed;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;


  }


  nav ul {
    width: 70%;
    height: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  li{
     
    
    display: inline-block;
    margin: auto;

    
  }  

  .home-button{
      width: 30%;
      height: 80px;
      margin: 0;
      float: left;
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


#back-button{
    color: #38383A;
    width: 30%;
}


nav a{
    color: #ffffff;
    text-decoration: none;
  }

nav a.current {
    color: #ffffff;
    font-weight: bold;
  }


  .icon-container{

    display: none;

}





.page-wrapper{
    width: 100%;
    float: right;

   margin-top: 50px;
}


.banner-container{
    width: 100%;             
}
 
 .banner-container img{
     width: 100%;
 }



.container{
    width: 100%;
    background-color: #ffffff;
  

}

.overview{
    width: 1000px;
 margin: auto;

   }

.overview h2{
    font-size: 40px;
    font-weight: 700;
  
    
}

.overview p{
    font-size: 21px;
    font-weight: 400;
    color: #314C55;
    line-height: 40px;
}



.project-info-container{
    width: 1000px;
    margin: auto;
    margin-bottom: 5%;

}

.project-info{
    width: 100%;
  
    border: solid 1px #314C55;
    border-radius: 5px;


  
    text-align: center;
display: inline-block;
    
}


.infobox{
    width: 330px;
    height: 200px;
  

float: left;

margin: 1.66px;


   
}


.infobox h3{
    width: 100%;

}

.infobox-info{
    width: 100%;
    font-size: 21px;
    font-weight: 500;
    color: #314C55;
    margin-top: 0px;
    margin-bottom: 0px;
   
}



.prototype{
    width: 200px;
    height: 60px;
    font-size: 21px;
    font-weight: 400;
    color: #ffffff;
   background-color: #314C55;
  cursor: pointer;
   border: none;
    border-radius: 5px;

}




 /*case study section*/

 main{
     width: 100%;
     margin: auto;  

     
 }

 section{
   width: 100%; 
   margin: auto;
  
   padding-top: 5%;
  padding-bottom: 5%;


 }


 .section-container{
     width: 1000px;
     margin: auto;
  
 }

 section h2{
    width: 100%;
 
     color: #314C55;
     font-weight: 700;
    font-size: 40px;
  
    margin-top: 0px;

 }

 section h3{
     width: 100%;
     
     color: #314C55;
     margin-top: 2%;
     font-weight: 600;
    font-size: 25px;

  
 }

 section h4{
    width: 70%;
    margin: auto;
    color: #314C55;
    margin-top: 2%;
    font-weight: 800;
   font-size: 1rem;
   letter-spacing: 5px;
 
}

 section p{
     width: 100%;
   
     font-weight: 400;
     font-size: 21px;
     line-height: 40px;
     color: #314C55;
 }




.research-groups{
    width: 1000px;
    margin: auto;
display: inline-block;
}



.research-groups img{

    margin: 24px;
float: left;
}


.persona{
    width: 100%;
}




.comp-analysis{
 
    margin: 250px;
    margin-top: 70px;
    margin-bottom: 70px;
}






.flowchart{
    width: 1000px;
}



.hifi img{
    width: 1000px;
}

.colourtypo-container{
    width: 100%;

    display: inline-block;
}



.typo-container{
width: 500px;
float: left;

}



.colour-container{
    width: 500px;
   float: left;

}


.colour{
    width: 30%;
 float: left;
   
 margin: 9%;
 margin-top: 3%;
}



.hex{
    width: 150px;
    height: 150px;

    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 9%);

}







@media  screen and (max-width:1024px)  {





    .page-wrapper{
        width: 100%;
    
    
       margin-top: 50px;
    }
    
    
    .banner-container{
        width: 100%;             
    }
     
     .banner-container img{
         width: 100%;
     }
    
    
    
    .container{
        width: 100%;
        background-color: #ffffff;
      
    
    }
    

    .overview{
        width: 90%;
     margin: auto;
    
       }
    
    .overview h2{
        font-size: 40px;
        font-weight: 700;
      
        
    }
    
    .overview p{
        font-size: 21px;
        font-weight: 400;
        color: #314C55;
        line-height: 40px;
    }
    
    
    .project-info-container{
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
    }
    
    .project-info{
        width: 100%;
      
        border: solid 1px #314C55;
        border-radius: 5px;
    
    
      
        text-align: center;
    display: inline-block;
        
    }
    
    
    .infobox{
        width: 30%;
    
      
    
    float: left;
    
    margin: 1.66%;
    
    
       
    }
    
    
    .infobox h3{
        width: 100%;
    
    }
    
    .infobox-info{
        width: 100%;
        font-size: 21px;
        font-weight: 500;
        color: #38383A;
     
       
    }
    
    
    
    .prototype{
        width: 70%;
        height: 55px;
        font-size: 17px;
        font-weight: 400;
        color: #ffffff;
       background-color: #314C55;
      cursor: pointer;
       border: none;
        border-radius: 5px;
    
    }
    
    
    
    
    
     /*case study section*/
    
     main{
         width: 100%;
     
    
         
     }
    
     section{
       width: 100%; 
    
      
       padding-top: 5%;
      padding-bottom: 5%;
    
    
     }
    
    
     .section-container{
         width: 90%;
         margin: auto;
      
     }
    
     section h2{
        width: 100%;
     
         color: #314C55;
         font-weight: 700;
        font-size: 40px;
      
        margin-top: 0px;
    
     }
    
     section h3{
         width: 70%;
         
         color: #314C55;
         margin-top: 2%;
         font-weight: 600;
        font-size: 25px;
    
      
     }
    
     section h4{
        width: 70%;
        margin: auto;
        color: #314C55;
        margin-top: 2%;
        font-weight: 800;
       font-size: 1rem;
       letter-spacing: 5px;
     
    }
    
     section p{
         width: 100%;
       
         font-weight: 600;
         font-size: 21px;
         line-height: 40px;
     }
    




     .research-groups{
        width: 100%;
        margin: auto;
    display: inline-block;

    }
    
    
    
    .research-groups img{
        width: 20%;
        margin: 2.5%;
    float: left;

    }






.persona{
    width: 100%;
}




.comp-analysis{
 width: 70%;
margin: 15%;

 
}






.flowchart{
    width: 100%;
}



.hifi img{
    width: 100%;
}






.colourtypo-container{
    width: 100%;

  color: #38383A;
}



.typo-container{
width: 100%;


}



.typo-container p{
  
    font-size: 30px;
    
    }



.colour-container{
    width: 100%;
display: inline-block;
}


.colour-container h3{
    width: 100%;
    margin-top: 90px;

}


.colour{
    width: 20%;
 
 margin-top: 3%;
 margin: 2.5%;

 text-align: center;
 float: left;
}

.colour h3{

    font-size: 25px;

} 



.hex{
    width: 100%;
 

    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 9%);

}








}








@media  screen and (max-width:767px)  {

 

    
    nav {
       width: 100%;
       height: 60px;
       background: #314C55;
       border-bottom: 1px solid #314C55;
       
       position: fixed;
   
       font-size: 16px;
       font-weight: 600;
       display: inline-block;
   
      
     }
   
   
     nav ul {
       width: 100%;
       height: 60px;
       list-style: none;
       margin: 0;
       padding: 0;
       text-align: center;
       float: right;
       display: flex;
       justify-content: center;
       align-items: center;
       position: absolute;
       top: 60px;
       border: .5px solid #314C55;
       background: #314C55;
       position: fixed;
   
     }
   
   
   #myLinks{
       display: none;
   }
   
   
   
     li{
        
       
         display: inline-block;
   margin: auto;
   
     
     }  
   
     .home-button{
         width: 30%;
         height: 60px;
         margin: 0;
         float: left;
         display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
     }
   
   
   #back-button{
       color: #38383A;
       width: 30%;
       
   }

   .back{
       width: 40px;
   }
   
   
   a{
       color: #ffffff;
       text-decoration: none;
     }
   
   a.current {
       color: #ffffff;
       font-weight: bold;
     }
   
   
     .icon-container{
        width: 25%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
 
    }
    
  
    .icon{
        font-size: 35px;
        color: #ffffff;
    }
   
   
   
   
   
   
       
   
       .page-wrapper{
           width: 100%;
       
       
          margin-top: 50px;
       }
       
       
       .banner-container{
           width: 100%;             
       }
        
        .banner-container img{
            width: 100%;
        }
       
       
       
       .container{
           width: 100%;
           background-color: #ffffff;
         
       
       }
       
    
       
          .overview{
           width: 90%;
        margin: auto;
       
          }
       
       .overview h2{
           font-size: 30px;
           font-weight: 700;
         
           
       }
       
       .overview p{
           font-size: 21px;
           font-weight: 400;
           color: #38383A;
           line-height: 40px;
       }
       
       
       .project-info-container{
           width: 90%;
           margin: auto;
           margin-bottom: 5%;
       }
       
       .project-info{
           width: 100%;
         
           border: solid 1px #314C55;
           border-radius: 5px;
       
       
         
           text-align: center;
       display: inline-block;
           
       }
       
       
       .infobox{
           width: 100%;
   
          
       }
       
       
       .infobox h3{
           width: 100%;
       
       }
       
       .infobox-info{
           width: 100%;
           font-size: 21px;
           font-weight: 500;
           color: #38383A;
        
          
       }
       
       
       
       .prototype{
           width: 70%;
           height: 60px;
           font-size: 17px;
           font-weight: 400;
           color: #ffffff;
          background-color: #314C55;
         cursor: pointer;
          border: none;
           border-radius: 5px;
       
       }
       
       
       
       
       
        /*case study section*/
       
        main{
            width: 100%;
        
       
            
        }
       
        section{
          width: 100%; 
       
         
          padding-top: 5%;
         padding-bottom: 5%;
       
       
        }
       
       
        .section-container{
            width: 90%;
            margin: auto;
         
        }
       
        section h2{
           width: 100%;
        
            color: #314C55;
            font-weight: 700;
           font-size: 28px;
         
           margin-top: 0px;
       
        }
       
        section h3{
            width: 100%;
            
            color: #314C55;
            margin-top: 2%;
            font-weight: 600;
           font-size: 25px;
       
         
        }
       
        section h4{
           width: 70%;
           margin: auto;
           color: #314C55;
           margin-top: 2%;
           font-weight: 800;
          font-size: 1rem;
          letter-spacing: 5px;
        
       }
       
        section p{
            width: 100%;
          
            font-weight: 600;
            font-size: 21px;
            line-height: 40px;
        }







        .research-groups{
            width: 100%;
            margin: auto;
        display: inline-block;
    
        }
        
        
        
        .research-groups img{
            width: 40%;
            margin: 5%;
        float: left;
    
        }
    
    
    
    
    
    
    .persona{
        width: 100%;
    }
    
    
    
    
    .comp-analysis{
     width: 70%;
    margin: 15%;
    
     
    }
    
    
    
    
    
    
    .flowchart{
        width: 100%;
    }
    
    
    .hifi{
        margin-top: 10%;
    }
    
    .hifi img{
        width: 100%;
        
    }

















        
    .colourtypo-container{
        width: 100%;
    
        display: inline-block;
    }
    
    
    
    .typo-container{
    width: 100%;
    float: left;
    
    }
    
    
    
    .colour-container{
        width: 100%;
       float: left;
    
    }
    
    
    .colour{
        width: 100%;
display: inline-block;

     margin-top: 3%;
    }

    .colour h3{
width: 60%;
margin-top: 10%;
float: left;
    }
    
    
    
    .hex{
        width: 40%;
     
    float: left;
        border-radius: 5px;
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 9%);
    
    }
    




    }